@font-face {
    font-family: Manege Demo;
    src: url('Manege Demo Light.otf');
}

p,li {
   font-family: 'Manege Demo';
   color: black;
   font-size: 5.9vw;
   font-weight: 100;
   line-height: 120%;
   margin-top: 0px;
   margin-left: 0px;
}

.chto {
  max-width: 900px;
}

body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    margin-left: 0px;
    padding-left: 20px;
}

img {
    width: 0.5em;
    margin-right: 0.2em;
    margin-left: 0.2em;

}

A {
  color: blue;
  text-decoration: none;
  border-bottom: 1px solid blue;
}

.soc {
  display: inline;
  margin-right: 1.6em;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 2.4vw;
}

.social {
  position: fixed;
  left: 20px;
  bottom: 10px;
  max-width: 900px;
}

.col {
}

.one {
}

h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 2.4vw;
  font-weight: 100;
  margin-bottom: 0px;

}
